*
!.gitignore
!README.md
!AMA1.mq5
!Construtor/
!Construtor.mq5
!Construtor/UI/
!Construtor/UI/V2/
!Construtor/UI/V2/**
!Construtor/UI/EasyPanel.mqh
!Construtor/README.md
!Advisors/
!Advisors/V3/
!Advisors/V3/**
